.ant-menu-overflow-item-rest {
    background-color: transparent !important;
}
.ant-menu-dark .ant-menu-submenu-selected .ant-menu-submenu-title,
.ant-menu-light .ant-menu-submenu-selected .ant-menu-submenu-title {
    color: white !important;
}
.css-dev-only-do-not-override-nqoqt9.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    border-radius: 10px 0 10px 0;
}
.ant-drawer .ant-drawer-close {
    color: #fff;
}
.ant-drawer .ant-drawer-close:hover {
    background-color: white;
}
.ant-drawer .ant-drawer-header {
    border-bottom: 1px solid #bebbbb;
}
.ant-menu-dark{
    background-color: none;
}
.ant-menu-dark .ant-menu-item a, .ant-menu-title-content{
    color: #fff;
    font-size: 16px;
    padding-right: 10px;

}
/* .ant-menu-item, .ant-menu-title-content{
    border-right: 1px solid red;

} */

.ant-menu-item a, .ant-menu-title-content:hover{
    color: #d7b56d;
} 

.ant-menu-dark.ant-menu-horizontal{
    display: flex;
    justify-content: center;
    align-items: center;

}

.ant-menu-dark.ant-menu{
    background:none;
}
.ant-menu-dark.ant-menu .ant-menu-item-selected, .ant-menu-dark.ant-menu .ant-menu-item-selected:hover{
    background-color:#00434c;
    color: #fff;
}
.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline{
    background-color:#00434c;  /* pending */
}
.ant-table-cell{
    /* text-align: center !important; */
}
.ant-btn-variant-solid{
    background-color: #00434c;
    padding: 20px 20px;
}
.ant-menu-dark.ant-menu-horizontal .ant-menu-submenu-selected, .ant-menu-dark.ant-menu-horizontal .ant-menu-submenu-selected:hover{
    background-color: #00434c;
}